# Basics

In [2]:
9820929329737937497439 + 9283091281097219072409172404

9283101102026548810346669843

In [3]:
768768595894797-9297927927

768759297966870

In [4]:
98329*10

983290

In [5]:
1331132/234

5688.598290598291

In [6]:
10**3  # exponential value

1000

In [7]:
100//33 # integer division

3

In [8]:
100 % 23 # modulus (remainder)

8

In [9]:
"HI" + "EVERYONE" # CONCETENATION

'HIEVERYONE'

In [10]:
"hi" * 9

'hihihihihihihihihi'

In [11]:
"hi"* "hi"

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# variable in python

In [1]:
name = "mohd saifuddin"

In [2]:
a = 10
b = 12

In [3]:
first_name ="rahul"

In [4]:
a = 11

In [5]:
a = 0

In [6]:
a ="zero"

In [7]:
a = False

# operators
- ### arithmetic
- ### comparison
- ### assignment
- ### logical
- ### bitwise(skipped)
- ### membership
- ### identity

In [13]:
a,b =10,7

In [9]:
a + b

12

In [15]:
a * b

70

In [16]:
a//b

1

In [14]:
a / b

1.4285714285714286

In [17]:
a % b

3

In [18]:
a ** b

10000000

In [19]:
a < b

False

In [20]:
a > b

True

In [21]:
a <= b

False

In [22]:
a >= b

True

In [23]:
a == b

False

In [24]:
a != b

True

In [25]:
a % 2 ==0

True

In [26]:
b % 2==0

False

In [27]:
x = a+10

In [28]:
x +=10 # add whatever is in x with 10 and store in x

In [29]:
x -=5

In [30]:
x //=10

In [32]:
x **=14

In [33]:
a > b and a> 4

True

In [34]:
b > a or b < 5

False

In [35]:
 not a > b

False

In [40]:
len(name)

14

In [41]:
len(name) >= 14

True

In [44]:
msg = "this is a very simple message"

In [45]:
'very' in msg

True

In [46]:
'complex' in msg

False

In [50]:
colors = [ 'red','blue','green']

In [51]:
'red' not in colors

False

In [52]:
'yellow' in colors

False

# 01 - feb -2022

In [2]:
x = 1
y = 35656899798719
z = - 9280927728

In [3]:
x = 1.1
y = 1.0
z - 35.4
z = 32.3e50

In [4]:
type(x)

float

In [5]:
name ="bruce wayne 01"
color = 'yellow'
institute = 'digipodium'

In [6]:
is_coding = True
is_fun = True
are_u_bored = False

In [7]:
x = None

# special data type

# list

In [8]:
a =[5,10,15,20,25,30]
vals = [1,2.2,'python']
colors = ['red','green','black']

# tuples

In [9]:
a =(5,10,15,20,25,30)
vals = (1,2.2,'python')
colors = ('red','green','black')

# set

In [10]:
a ={5,10,15,20,25,30}
vals = {1,2.2,'python'}
colors = {'red','green','black'}

# dictionaries

In [11]:
car_info = {
    'brand': 'ford',
    "model" : "mustang",
    "year" : "1964"
}

# input

In [1]:
hero = input('whos your favourite hero')

In [5]:
 name = input('enter your name')

In [2]:
age = input('enetr your age')

In [3]:
school = input('enetr your school name')

In [13]:
age = input('enter your age')
age = int (age)        # casting (change the datatype) in int(),float(),str()
type (age)

int

x = '100'
y = '-90'
x+y

In [9]:
x = int(x)
y = int(y)
x+y

10

# output

In [11]:
print('one can beleive in story without believing in happend')

one can beleive in story without believing in happend

In [12]:
print('brandon sanderson','author','bilal mirza')

brandon sanderson author bilal mirza

In [15]:
name = 'harry pottr'

In [18]:
name     # raw output

'harry pottr'

In [17]:
print(name)

harry pottr

In [19]:
print(1,2,3,)

1 2 3

In [20]:
print(1,2,3,4,sep="*")

1*2*3*4

In [21]:
print(1,2,3,4,sep="#",end ="&")

1#2#3#4&

In [23]:
#the f string
qty =10
fruit = 'apple'
print('i will purchase',qty,fruit,'today')

i will purchase 10 apple today

In [24]:
name ="digipodium"
type_of_company = "educational"
# enclose your variable within the {}
# to display it's value in the output
print(f"{name} is an {type_of_company} company.")

digipodium is an educational company.

In [25]:
qty ="10"
fruit ="apple"
print(f"i will purchse {qty} {fruit} today.")

i will purchse 10 apple today.

# Building logic with if

In [2]:
print('you see a apple seller')
q = input('do you like apples?')

if q == "yes" :
    print ('purchase 2 kg apples')
    if q =="no" :
        print("you dont purchase apples")

you see a apple seller
purchase 2 kg apples

In [5]:
card = input("enter ur credit card number")
if len(card)==16:
    print("you are hacked")
if len(card)<16:
        print("unacceptable")

unacceptable

In [12]:
x =9
if x> 5:
    print("x is greater than 5")
    print("this is the info we neede")
    print("with this power ,comes great responsibility")
print("the end")

x is greater than 5
this is the info we neede
with this power ,comes great responsibility
the end

# Building logic with if else

In [13]:
temp = float(input("what is the temp"))
if temp >70:
    print("wear short")
else:
    print("wear long pant")
print("get some exercise outside")

wear long pant
get some exercise outside

# Building logic with if_elif_else

In [21]:
score = int(input("your score"))
if score >=90:
    letter ="A"
elif score >=80:
    letter="B"
elif score>=70:
        letter="C"
elif score>=60:
    letter="D"
elif score >=50:
    letter ="E"
else:
 letter = "F"
print(letter)

D

In [25]:
city= input("capital of up")
if city =="lucknow":
  print("correct")
else:
    print("incorrect")

correct

# compound statements

In [26]:
# one linear alternative 1:
if 42 in range(100) :print("42")

42

In [31]:
# one linear alternative 2:
x= "Alice" if "Jon" in "My name Jonas" else "bob"
print(x)

Alice

In [33]:
# one linear alternative 3:
print("42") if 42 in [22,33,42]else print("21")

42