# string function
- formattin
- validation
- utility

In [1]:
x =2984
a= "laptop"
c = "consumer id"

In [2]:
print(" the {} was purchase via{} = {}".format(a,c,x))

 the laptop was purchase viaconsumer id = 2984

In [3]:
print(f'the {a} was purchase via {c} ={x}')

the laptop was purchase via consumer id =2984

In [4]:
quote ='life before death ,hope before despair,journey before destination'

In [5]:
quote.upper()

'LIFE BEFORE DEATH ,HOPE BEFORE DESPAIR,JOURNEY BEFORE DESTINATION'

In [6]:
q = quote.upper()
print(q)

LIFE BEFORE DEATH ,HOPE BEFORE DESPAIR,JOURNEY BEFORE DESTINATION

In [7]:
quote.lower()

'life before death ,hope before despair,journey before destination'

In [8]:
quote.casefold()

'life before death ,hope before despair,journey before destination'

In [9]:
quote.title()

'Life Before Death ,Hope Before Despair,Journey Before Destination'

In [11]:
quote.capitalize()

'Life before death ,hope before despair,journey before destination'

In [12]:
quote.swapcase()

'LIFE BEFORE DEATH ,HOPE BEFORE DESPAIR,JOURNEY BEFORE DESTINATION'

In [13]:
a

'laptop'

In [14]:
a.ljust(25)

'laptop                   '

In [15]:
a.rjust(25)

'                   laptop'

In [16]:
a.center(25)

'          laptop         '

In [17]:
for i in range (5,15):
    print(i,i**10)

5 9765625
6 60466176
7 282475249
8 1073741824
9 3486784401
10 10000000000
11 25937424601
12 61917364224
13 137858491849
14 289254654976

In [18]:
for i in range (5,15):
    print(i,str(i**10).rjust(15))

5         9765625
6        60466176
7       282475249
8      1073741824
9      3486784401
10     10000000000
11     25937424601
12     61917364224
13    137858491849
14    289254654976

In [19]:
for i in range (5,15):
    print(str(i).ljust(5),str(i**10).rjust(15))

5             9765625
6            60466176
7           282475249
8          1073741824
9          3486784401
10        10000000000
11        25937424601
12        61917364224
13       137858491849
14       289254654976

In [21]:
x="world"
x.isalpha()

True

In [22]:
print(quote)
quote.isalpha()

life before death ,hope before despair,journey before destination

False

In [24]:
x.isascii()

True

# wap  to remove all the vowels

In [26]:
junk = " my name is mohd saifuddin"
vowels ="aeiouAEIOU" 
for vowel in vowels:
    junk = junk.replace(vowel, " ")
print (junk)

 my n m   s m hd s  f dd n

# wap to replace all special character with _

In [32]:
cache = "my password is sa@$^&if"
special_characters = "@$^&"
for special_character in special_characters:
    cache = cache.replace(special_character," ")
print(cache)

my password is sa    if

In [33]:
cache = "my password is sa@$^&if"
special_characters = "@$^&"
for special_character in special_characters:
    cache = cache.replace(special_character,"") # without space
print(cache)

my password is saif

In [34]:
quote.split()

['life',
 'before',
 'death',
 ',hope',
 'before',
 'despair,journey',
 'before',
 'destination']

In [35]:
str2 = "hi,i,am,saif"

In [36]:
str2.split()

['hi,i,am,saif']

In [38]:
str2.split(",")

['hi', 'i', 'am', 'saif']

In [39]:
li1 = str2.split(",")
print("we have",len(li1),"world in str2")

we have 4 world in str2

In [40]:
quote.split("e")

['lif',
 ' b',
 'for',
 ' d',
 'ath ,hop',
 ' b',
 'for',
 ' d',
 'spair,journ',
 'y b',
 'for',
 ' d',
 'stination']

In [14]:
message ="this is a place where we have written a message.this is a place where we more messages"

In [2]:
message.count("a")

8

In [3]:
message.count('place')

2

In [4]:
message.count("plant")

0

# alphabet counter

In [7]:
for char in "abcdefghijklmnopqrstuvwxyz":
    print(f"{char}:{message.count(char)}")

a:8
b:0
c:2
d:0
e:15
f:0
g:2
h:5
i:5
j:0
k:0
l:2
m:3
n:1
o:1
p:2
q:0
r:4
s:9
t:4
u:0
v:1
w:5
x:0
y:0
z:0

In [10]:
for char in "abcdefghijklmnopqrstuvwxyz":
    count = message.count (char)
    if count > 0:
        print(f"{char}:{count}")

a:8
c:2
e:15
g:2
h:5
i:5
l:2
m:3
n:1
o:1
p:2
r:4
s:9
t:4
v:1
w:5

In [11]:
len(message.split())

16

# word counter

In [17]:
unique_word = set(message.split()) #set is used to get only unique values
print(unique_word)

{'place', 'we', 'where', 'written', 'this', 'more', 'is', 'message.this', 'a', 'messages', 'have'}

In [18]:
for word in unique_word:
    word_list =message.split()
    wc = word_list.count(word)
    print(f"{word}->{wc}")

place->2
we->2
where->2
written->1
this->1
more->1
is->2
message.this->1
a->3
messages->1
have->1

In [15]:
"this is sparta".split()

['this', 'is', 'sparta']

In [19]:
q = "the only step a person can take is, the next step"

In [20]:
q.find("person")

16

In [21]:
q.find("only")

4

In [22]:
q.find("nly")

5

In [23]:
q.find("step")

9

In [24]:
q.rfind("step")

45

### wap to check if the data provided by the user is numeric or not, if its numeric ,convert it to int
### else checkif it contains any numbers and extract that number

In [32]:
data = input("enter a data:")
if data.isnumeric():
    num = int(data)
    print("number:",num)
else:
    temp =""   # no space
    for c in data:
        if c.isnumeric():
            temp+=c
    num = int(temp)
    print("extracted number:",num)

extracted number: 8929629486892

# remove all the punctuations from the following string
@@hello#!^(&())*&()

In [38]:
cache = "@@hello#!^($())*&()"
special_characters = "@@#!^($())*&()"
for special_character in special_characters:
    cache = cache.replace(special_character,"")
print(cache)

hello

In [36]:
from string import punctuation

In [37]:
value = "@@hello#!^($())*&()"
for p in punctuation:
    value = value.replace(p," ")
print(value)

  hello